<% include partial/header %>
<form action="/users/login" method="POST">
  <h2>Log In</h2>
  <% if(err) { %>
  <p><%= err %></p>
  <% }%>
  <input type="email" name="email" placeholder="Email" />
  <input type="password" name="password" placeholder="password" />
  <input type="submit" value="Login" />
</form>
<style>
  p {
    color: red;
  }
</style>
