<% include partial/header %>
<form action="/users/register" method="POST">
  <h2>Register</h2>
  <% if(err) { %>
  <p><%= err %></p>
  <% }%>
  <input type="text" name="firstName" placeholder="firstName" />
  <input type="text" name="lastName" placeholder="lastName" />
  <input type="email" name="email" placeholder="Email" />
  <input type="password" name="password" placeholder="Password" />
  <input type="text" name="city" placeholder="City" />
  <input type="submit" value="Register" />
</form>
<style>
  p {
    color: red;
  }
</style>
